
.btn-theme{
    color: #FFF;
    background: #8e44ad;
    border: solid 1px #8e44ad;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.btn-theme:hover{
    color: #FFF;
    background: #7b3a96;
    border: solid 1px #7b3a96;
}

.blog-4 .detail h3 a{
    color: #8e44ad;
}

.blog-4 .detail .post-meta span a i{
    color: #8e44ad;
}

.modal-right-content .bullets li i{
    color: #8e44ad;
}

.top-header-bg {
    background: #8e44ad;
}

.form-inline a:hover{
    color: #8e44ad;
}

.show-more-options, .show-more-options:hover {
    color: #8e44ad!important;
}

.categories ul li a:hover{
    color: #8e44ad;
}

.checkbox-theme input[type="checkbox"]:checked + label::before {
    background-color: #8e44ad;
    border-color: #8e44ad;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: #8e44ad;
}

.tabbing-box .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link:hover {
    background-color: #8e44ad;
}

#page_scroller {
    background: #8e44ad;
}

.setting-button {
    background: #8e44ad;
}

.banner-bg-color{
    background: #7b3a96;
}

.btn-white-sm-outline:hover{
    background: #7b3a96;
    border: solid 1px #7b3a96;
}

.btn-white-lg-outline:hover{
    background: #7b3a96;
    border: solid 2px #7b3a96;
}

.btn-color{
    background: #8e44ad;
    border-color: #8e44ad;
}

.btn-color:hover{
    background: #7b3a96;
    border-color: #7b3a96;
}

.btn-color:not([disabled]):not(.disabled).active, .btn-color:not([disabled]):not(.disabled):active, .show > .btn-color.dropdown-toggle {
    color: #fff;
    background-color: #7b3a96;
    border-color: #7b3a96;
    box-shadow: none;
}

.btn-theme-sm-outline{
    color: #7b3a96 !important;
    border: solid 2px #7b3a96;
}

.btn-theme-sm-outline:hover{
    background: #7b3a96;
    border: solid 2px #7b3a96;
}

.btn-border{
    color: #8e44ad;
    border: solid 1px #8e44ad;
}

.btn-border:not([disabled]):not(.disabled).active, .btn-border:not([disabled]):not(.disabled):active, .show > .btn-border.dropdown-toggle {
    color: #fff;
    background-color: #8e44ad;
    border-color: #8e44ad;
    box-shadow: none;
}

.btn-border:hover{
    color: #fff;
    border: solid 1px #7b3a96;
    background: #7b3a96;
}

.read-more {
    color: #8e44ad;
}

.blog-1 .date-box {
    background: #8e44ad;
}

.blog-1 .date-box::after {
    border-left: 15px solid #8e44ad;
}

.coming-soon-inner .btn, .coming-soon-inner .btn:hover, .coming-soon-inner .btn:active {
    background: #8e44ad;
}

.megamenu-area .dropdown-item:hover {
    color: #8e44ad;
}

.main-header .navbar-expand-lg .navbar-nav .active .nav-link{
    color: #8e44ad !important;
    border-bottom: solid 2px #8e44ad;
}

.main-header .navbar-expand-lg .navbar-nav .nav-link:hover{
    border-bottom: solid 2px #8e44ad;
    color: #8e44ad !important;
}

.main-header .dropdown-menu a:hover {
    background: transparent;
    color: #8e44ad;
}

.sub-banner .breadcrumbs li a:hover {
    color: #8e44ad;
}

.sub-banner-2 .breadcrumbs li a:hover {
    color: #8e44ad;
}

.overlay-link:hover{
    background: #8e44ad;
    border: 1px solid #8e44ad;
}

.service-box-3 .heading .number h5{
    color: #8e44ad;
}

.services-info-3 .heading .number h5{
    color: #8e44ad;
}

.services-info i{
    color: #8e44ad;
}

.pricing-2 .price-for-user .price .dolar{
    color: #8e44ad;
}

.faq-accordion .card-header:before {
    color: #8e44ad;
}

.intro-section {
    background: #8e44ad;
}

.modal-left-content .control{
    background: #8e44ad;
}

.modal-right-content .price {
    color: #8e44ad;
}

.testimonial .carousel-indicators .active {
    background-color: #8e44ad;
}

.carousel-indicators .active {
    background-color: #8e44ad;
}

.pages-404 .pages-404-inner h3 {
    color: #8e44ad;
}

.pagination > li > .active {
    background: #8e44ad;
}

.pagination > li > a:hover{
    background: #8e44ad;
}

.tags ul li a:hover{
    border: solid 1px #8e44ad;
    background: #8e44ad;
}

.latest-tweet p a{
    color: #8e44ad;
}

.shop-box .shop-details h6{
    color: #8e44ad;
}

.form-check a{
    color: #8e44ad;
}

.form-check a:hover{
    color: #7b3a96;
}

.about-text ul li i {
    color: #8e44ad;
}

.helping-center i{
    color: #8e44ad;
}

.coming-soon-inner h1 a{
    color: #8e44ad;
}

.filteriz-navigation li:hover {
    color: #fff;
    background: #8e44ad;
}

li.active.btn.filtr-button.filtr {
    color: #fff;
    background: #8e44ad;
}

.testimonial .testimonial-inner .testimonia-header h1 span{
    color: #8e44ad;
}

.main-title h1 span{
    color: #8e44ad;
}

.managment-border {
    background: #8e44ad;
}

.testimonial-1 .testimonial-inner .testimonia-header h1 span{
    color: #8e44ad;
}

.brand-box-2 h5 a{
    color: #8e44ad;
}

.min-value {
    color: #8e44ad;
}

.max-value {
    color: #8e44ad;
}

.managment-area-2  .carousel-indicators .active{
    background: #8e44ad;
}

.managment-area-2 h1 span{
    color: #8e44ad;
}

.managment-area-2 ul li i{
    color: #8e44ad;
}

.range-slider .ui-slider .ui-slider-handle {
    background: #8e44ad;
}

.range-slider .ui-slider .ui-slider-handle {
    border: 2px solid #8e44ad;
}

.range-slider .ui-widget-header {
    background-color: #8e44ad;
}

.project-specification-2 ul li i{
    color: #8e44ad;
}

.project-specification-2 ul li a{
    color: #8e44ad;
}

.faq-accordion .card-header a:before {
    color: #8e44ad;
}

/** MEDIA **/
@media (max-width: 992px) {
    .navbar-light .navbar-toggler {
        color: #8e44ad;
    }

    .main-header .navbar-expand-lg .navbar-nav .active .nav-link {
        border-bottom: solid 1px #8e44ad;
        color: #8e44ad !important;
    }

    .main-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        border-bottom: solid 1px #8e44ad;
        color: #8e44ad !important;
    }
}

@media (max-width: 768px) {
    .btn-white-lg-outline:hover{
        background: #7b3a96;
        border: solid 1px #7b3a96;
    }

}


@media (min-width: 991px) {
    .sticky-header .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #fff !important;
        border-bottom: solid 2px transparent;
    }

    .sticky-header .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #fff !important;
        border-bottom: solid 2px transparent;
        opacity: .8;
    }

    .header-shrink .navbar-expand-lg .navbar-nav .active .nav-link {
        color: #515151 !important;
    }

    .header-shrink .navbar-expand-lg .navbar-nav .nav-link:hover {
        color: #515151 !important;
    }

    .header-shrink .btn-white-sm-outline {
        color: #8e44ad;
        border: solid 2px #8e44ad;
        padding: 5px 18px;
        font-size: 12px;
    }

    .header-shrink .btn-white-sm-outline:hover{
        color: #FFFFFF;
    }
}





